.App {
    margin: 2em auto;
    width: 40vw;
    min-width: 400px;
    padding: 2em;
    border: 0.1em solid black;
    border-radius: 0.5em;
    background: #fff;
    overflow: hidden;

    &.lightblue {
        background: linear-gradient(to bottom left, #89caff, #eeeeff);
    }
    &.lightgreen{
        background: linear-gradient(to bottom left, lightgreen, #66ff99);
    }
}

.App > p, .App > h1 {
    text-align: center;
}